a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

a:link {
  color: black;
}

body {
  margin: 0px;
}

a:hover {
  color: blue;
}

input:focus {
  outline: none;
}

.phone {
  display: none;
}

.nav-bar {
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px lightgray;
}

#nav-icon {
  display: inline;
}

.first-header {
  margin: auto;
  width: 90%;
  height: 400px;
  display: flex;
  background-color: rgba(203, 202, 202, 0.11);
  justify-content: space-around;
  align-items: center;
  flex-direction: column-reverse;
  box-shadow: 1px 1px 1px 1px lightgray;
}

.new-udemy {
  background-color: white;
  width: 100%;
  padding-left: 30px;
}

.second-header {
  margin: auto;
  width: 90%;
}

#explore-btn {
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
}

#explore-btn:hover {
  box-shadow: 2px 2px 2px gray;
}

.courses {
  border: 1px solid gray;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: gray;
}
<<<<<<< HEAD
.carousel-inner {
  padding: 2em;
  display: flex;
  justify-content: flex-start;
=======

#display-courses {
  display: inline-flex;
  margin: auto;
  justify-content: center;
>>>>>>> main
}

.card {
  width: 300px;
<<<<<<< HEAD
  height: 450px;
  margin: 10px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: black;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-item {
  margin-right: 0;
  display: block;
}
.carousel-inner {
  display: flex;
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
=======
  display: block;
  margin: 5px;
  box-shadow: 1px 1px 1px gray;
>>>>>>> main
}

@media screen and (min-width: 700px) {
  .first-header {
    margin: auto;
    width: 90%;
    height: 400px;
    display: flex;
    background-color: rgba(203, 202, 202, 0.11);
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }

  .new-udemy {
    background-color: white;
    width: 300px;
    height: 200px;
    box-shadow: 1px 1px 1px 1px lightgray;
    padding-left: 20px;
  }

  .nav-bar {
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    justify-content: space-around;
    align-items: center;
  }

  #nav-icon {
    display: none;
  }

  .phone {
    display: inline;
  }

  #search-form {
    display: inline;
    border: 2px solid gray;
    border-radius: 20px;
    width: 50%;
    background-color: rgba(246, 242, 242, 0.881);
    padding: 5px 10px 5px 10px;
  }

  #search-id {
    display: inline;
    background-color: rgba(246, 242, 242, 0.881);
    width: 80%;
  }

  #login {
    display: inline;
    background-color: white;
    border: 1px solid gray;
    position: relative;
    padding: 5px 10px 5px 10px;
  }

  #login:hover {
    background-color: rgb(238, 232, 232);
  }

  #sign-up {
    display: inline;
    color: white;
    background-color: black;
    padding: 5px 10px 5px 10px;
  }

  #sign-up:hover {
    color: black;
    background-color: white;
  }

  #lang-btn {
    display: inline;
    font-size: 16px;
    border: 1px solid gray;
    background-color: white;
    padding: 5px 10px 5px 10px;
  }

  #lang-btn:hover {
    background-color: rgb(238, 232, 232);
  }

  #shopping-cart {
    display: inline;
    background-color: white;
    border: 0px;
    font-size: 25px;
  }

  .hover-blue:hover {
    color: blue;
  }
}